* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.person {
    display: flex;
}

.side-left {
    width: 40%;
    background-color: #2D4059;
    color: #fff;
}

.side-right {
    width: 60%;
    background-color: #fff;
    color: #2D4059;
}

.person__img {
    width: 50%;
    margin: 30px auto;
}

.person__img img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #EA5455;
}

.article__title {
    display: block;
    padding: 10px;
    background-color: #EA5455;
}

.article__item {
    padding: 15px;
}

.article__subtitle {
    margin-bottom: 5px;
}

.skills__list {
    margin-left: 15px;
    list-style-type: "\2713  ";
}

.skills__item:not(:last-child) {
    margin-bottom: 3px;
}